---

---

<main class="w-full h-[calc(100dvh-80px)] flex flex-col items-left justify-center lg:p-10 xl:p-40">
    <div class="w-full md:w-8/12 lg:w-3/5 text-gray-500 text-xl">
        <p>
            Hi, my name is
        </p>
        <h2 class="text-6xl font-bold text-blue-500 font-mono py-2">Addiel Lucena</h2>
        <p>
            Full Stack and Android Developer focused on building products with extra attention to details.
        </p>
        <div class="flex">
            <div class="w-fit h-10 pl-2 px-6 mt-2 flex items-center border border-solid border-blue-500 rounded-md">
                <p>addiellucena94@gmail.com</p>
            </div>
            <div class="size-10 ml-2 mt-2 flex items-center justify-center border border-solid border-blue-500 rounded-md bg-blue-500 cursor-pointer">
                <img src="/images/send.svg" alt="Send" class="size-8">
            </div>
            <div class="size-10 ml-2 mt-2 flex items-center justify-center border border-solid border-blue-500 rounded-md bg-blue-500 cursor-pointer">
                <img src="/images/copy.svg" alt="Copy" class="size-8">
            </div>
        </div>
    </div>
</main>