---

---

<nav class="text-xl text-white font-light">
    <a href="#" class="no-underline ml-6 pointer">Home</a>
    <a href="#" class="no-underline ml-6 pointer">About</a>
    <a href="#" class="no-underline ml-6 pointer">Projects</a>
</nav>